#title {
  margin: 1.5rem 0;
}

#title.title__no_spaces {
  margin: 0;
}

.title__big {
  font-size: 10em;
  font-weight: bold;
}

.title__medium {
  font-size: 1.4em;
}

.title__small {
  font-size: 1em;
}

.title__extra__small {
  font-size: 0.9em;
}

.title__white {
  color: $color-white;
}

.title__orange {
  color: $color-primary;
}

.title__secondry {
  color: $color-secondry;
}

.title__gray {
  color: $color-gray;
}

.upper__case {
  text-transform: uppercase;
}

.title__shadow {
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.title__center {
  text-align: center;
}

.title__danger {
  color: #ff0000;
}

.title__success {
  color: #064106;
}

@media (min-width: 992px) and (max-width: 1183px),
  screen and (min-width: 768px) and (max-width: 991px),
  screen and (min-width: 320px) and (max-width: 767px) {
  .title__big {
    font-size: 1.2em;
  }
  .title__small {
    font-size: 1em;
  }
}
